[draggable=true] {
	cursor:move;
}

.entity {
	display: block;
}

.fromContainer {
	display: block;
}

.entity img{
	max-height:10%;
	max-width:10%;
	float: right;
}

.entity-data {
	border: 1px solid black;
}

.stickman {
	max-width: 10%;
	max-height: 10%;
	float: right;
}

#gallery { float: left; width: 65%; min-height: 12em; }
.gallery.custom-state-active { background: white; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; background: white;}
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li img { width: 25%; cursor: move; }

/* #views { float: left; width: 65%; min-height: 12em; }
.views.custom-state-active { background: white; }
.views li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: left; background: white;}
.views li h5 { margin: 0 0 0.4em; cursor: move; }
.views li img { width: 25%; cursor: move; } */

#data {
	border: 1px solid black;
}

#data tbody tr td{
	border: 1px solid black;
}

#data td {

}

.blue {
	background: blue;
}

.green {
	background: green;
}

.purple {
	background: purple;
}

.black {
	background: black;
}

.cyan {
	background: cyan;
}

.grey {
	background: grey;
}

.red {
	background: red;
}

.entity-container {
	display: inline-block;
}

.data-container {
	display: inline-block;
	float: left;
}

.entity-viewer {
	min-width:256px;
	min-height:256px;
	max-width:512px;
	max-height:512px;
	border: 1px solid black;
	margin: 5%;
	float: left;
	display: inline-block;
}

.pool {
	min-width:256px;
	min-height: 256px;
	max-width: 100%;
	max-height: 512px;
	display: block;
	margin: 5%;
	float: left;
	display: block;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pool img{
	width:100%;
	height: 100%;
}

.trash img {
	display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

.boxes {
	display: inline-block;
	float: right;
}

.box-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box {
	border: 2px solid #2a6496;
	z-index: 15;
	width: 200px;
	max-height: 200px;
	overflow: auto;
	cursor: move;
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.area {
	height: 57vh;
}

.area div {
	height: 100%;
}

.lixeira {
	height: 15vh;
}

.lixeira div {
	height: 100%;
}

#pool {
	border: 5px solid #2a6496;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	overflow: auto;
}

.linha-titulo {
	line-height: 100%;
}

.titulo-rodada {
	display: inline-block;
	width: 60%;
	text-align: center;
}

.linha-titulo-botoes {
	display: inline-block;
	width: 15%;
	vertical-align: middle;
}

.linha-titulo-botoes button {
	margin-bottom: 10px;
}

.drag {
	border: 2px solid #2a6496;
	z-index: 15;
	padding: 15px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}