[draggable=true] {
	cursor:move;
}

#data {
	border: 1px solid black;
}

#data tbody tr td{
	border: 1px solid black;
}

#data td {

}

.blue {
	background: blue;
}

.green {
	background: green;
}

.purple {
	background: purple;
}

.black {
	background: black;
}

.cyan {
	background: cyan;
}

.grey {
	background: grey;
}

.red {
	background: red;
}

.entity-container {
	display: inline-block;
}

.data-container {
	display: inline-block;
	float: left;
}

.trash img {
	display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

.boxes {
	display: inline-block;
	float: right;
}

.box-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box {
	border: 2px solid #2a6496;
	z-index: 15;
	width: 200px;
	max-height: 200px;
	overflow: auto;
	cursor: move;
	padding-bottom: 10px;
	/* -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; */
}

.box > ul > li:first-child {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #2a6496;
	font-weight: bold;
	font-size: 80%;
	text-transform: uppercase;
	color: white;
	border-bottom: 1px solid white;
}

.box > ul > li:first-child > div {
	width: 50%;
	text-align: center;
}

.box > ul > li:first-child > div:first-child {
	float: left;
}

.box > ul > li:first-child > div:nth-child(2) {
	float: right;
}

.box > ul > li:not(:first-child) {
	padding-left: 15px;
	padding-right: 15px;
}

.box > ul > li:not(:first-child) > img {
	height: 166px ;
	width: 166px;
}


.pull-left {
	margin: 10px;
	background-color: white;
	z-index : 10;
}

.area {
	height: 69vh;
	padding-left: 20px;
	padding-right: 20px;
}

.area div {
	height: 100%;
}

.lixeira {
	height: 15vh;
}

.lixeira div {
	height: 100%;
}

#pool {
	border: 5px dotted #2a6496;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	/* overflow: auto; */
}

.linha-titulo {
	background-color: #666;
	color: white;
}

.titulo-rodada {
	display: inline-block;
	width: 50%;
	padding-left: 20px;
}

.linha-titulo-botoes {
	display: inline-block;
	/* width: 15%; */
	vertical-align: middle;
}

.linha-titulo-botoes button {
	margin-bottom: 10px;
}

.drag {
	border: 2px solid #2a6496;
	z-index: 15;
	padding: 15px;
	background-color: white;
	/* -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; */
}

#entidadeAlvo {
	background-color: #2a6496 !important;
	color: white;
}

.buttonJogo {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

.ui-state-hover{
	border-color: #2a6496 #2a6496 !important;
}

.ui-state-active{
	border-color:green green !important;
}